@import "tailwindcss";

@theme {
  --font-sans: "Inter", "General Sans", sans-serif;

  --color-primary: #1E2A5A;
  --color-primary-dark: #141d40;
  
  --color-background: #F7F7F8;
  --color-surface: #FFFFFF;
}

@layer base {
  body {
    @apply bg-background text-slate-900 font-sans antialiased selection:bg-primary selection:text-white;
  }
}
